/* body */
body {
background-color: #222831; /*dark blue */
color: #A9A9A9; /* grey */
}

.body-content h1, h2, h3, h4, h5, h6 {
	font-family: 'PT Mono', sans-serif;
	color: #F2A365; /* orange */

}

.body-content {
	font-family: 'Lora', serif;
}

.body-content a {
	color: #76549A; /* purple */
	font-family: 'PT Mono', sans-serif;
}
button {
	font-family: 'PT Mono', sans-serif;
	font-size: 1.2rem;
}

/* fonts */

@font-face{
  font-family: 'PT Mono';
  src: url('/assets/fonts/PTMono-Regular.ttf');
  font-display: swap;
}

@font-face{
  font-family: 'Lora';
  src: url('/assets/fonts/Lora-Medium.ttf');
  font-display: swap;
}

div.container {
 	max-width: 960px;
 }

.blog-header-logo {
 	color: #76549A!important;  /* purple */
 	font-family: 'PT Mono', sans-serif;
 }

.navbar a {
	font-family: 'PT Mono', sans-serif;
	color: #F2A365 !important;
}

.navbar {
	background-color: #222831 !important;  /* dark blue */
}

.navbar-brand {
	font-size: 1.6rem;
	margin-right: 2rem;
}

.navbar .nav-link {
	font-size: 1.1rem;
}

.nav-item {
	border-color: #A9A9A9; /*grey*/
	border-style: solid;
	border-width: 0px 1px 0px 0px;
	padding-left: 15px;
	padding-right: 15px;
}

.nav-item:last-child {
	border-color: #A9A9A9; /*grey*/
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	padding-left: 15px;
	padding-right: 15px;
}

@media (max-width: 768px) {
	.nav-item {
		border-width: 0px 0px 0px 0px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.nav-item:last-child {
		border-width: 0px 0px 0px 0px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.banner {
	width:60%;
	height:60%;
}

@media (max-width: 768px) {
	.banner {
		width:80%;
		height:80%;
	}
}


/* gallery */
.gallery {
    margin: 10 px 50 px;
    justify-content: center;}

.gallery img {
    transition: 1s;
    padding: 15px;
    width: 33%;}

.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
    }

/* not used */
.sched-green {
	background-color:rgb(51, 255, 51, 0.40);
}

.sched-purple {
	background-color:rgb(112, 48, 160, 0.40);
}